* {
	margin: 0;
	padding: 0;
}

div.tabs {
	padding: 20px;
	.tab {
		border: 1px solid blue;
		padding: 10px;
		display: none;
	}
	.tab.active {
		display: block;
	}
	nav li {
		display: inline;
		cursor: pointer;
		background-color: #eee;
		border: 1px solid #aaa;
		border-radius: 3px;
		padding: 3px;
	}
	nav li.active {
		background-color: #ccc;
	}
}

