* {
	margin: 0;
	padding: 0;
}

div.tabs {
	padding: 20px;
	.tab {
		display: none;
	}
	.tab.active {
		display: block;
	}
	nav li {
		background-color: white;
		display: inline;
		cursor: pointer;
		border: 1px solid #ccc;
		border-radius: 3px;
		padding: 3px;
		margin-right: 3px;
		font-size: 10pt;
	}
	nav li.active {
		background-color: #333;
		color: white;
		border: 1px solid #333;
	}
}

